# Environment
.env
.env.*
!.env.example

# Python
backend/.venv
backend/__pycache__
backend/**/__pycache__
backend/**/*.pyc

# Node
frontend/node_modules
frontend/dist

# OS
.DS_Store
Thumbs.db

# Logs
*.log
output/*

*_OLD/*
/archive/*
/jarvis/*
/.idea/*
/backend/venv/
/jarvis/
